@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.Extensions.Options
@using DependencyInjectionInNet5.Configuration
@using DependencyInjectionInNet5.Services

@inject IOptions<MailSettingsConfiguration> MailConfiguration
@inject IGuidService GuidService

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (MailConfiguration.Value.Avaiable)
    {
        <a href="/Home/SendMail">
            <button type="button" class="btn btn-primary">Send Mail</button>
        </a>
    }

    GUID: @GuidService.GetGuid()
</div>
